{% extends 'main.html' %}

{% block content %}

<h1>
    <h1 style="display: flex;justify-content: center;">
        This is home page
    </h1>

    <h1 >

        <a class="create-room" href="{% url 'create-room' %}"> Create a Room</a>
        
        {% for rom in room %}
            <div class="room-container" style="margin: 10px;padding: 10px;border-radius: 8px;">
                <hr>
                <a href="{% url 'update-room' rom.id %}" style="display: flex;justify-content: flex-end;">
                    <button>Edit</button>
                </a>
                <div>
                    <p style="font-size: 15px;margin-bottom: 0;color: aliceblue;">
                        @{{rom.host.username}}
                    </p>
                    <h3 style="margin-top: 0;">
                         <a href="{% url 'room' rom.id %}" style="text-decoration: none;color: rgb(241, 241, 242);"> {{ rom.name }}</a>
                    </h3>
                </div>
                <small style="font-size: 20px;display: flex;justify-content: flex-end;">{{rom.topic.name}}</small>
                <hr>
            </div>
    
        {% endfor%}
    </h1>
</h1>




{% endblock content %}