{% extends 'main.html' %}

{% block content %}

<div class="room-container">
    <div class="room-mess">
        <h1>

            {{room.name}}
        
           
            
        </h1>
        <div>
            {{room.description}}
        </div>
        
        <div class="comment-wrapper">
            <h3>
                Conversation
            </h3>
            
            {% for message in room_messages %}
        
                <div>
                    <hr>
                    <small>
                        @{{message.user}}  {{message.created | timesince }}
                    </small>
                    
                    <p>
                        {{message.body}}
                    </p>
                </div>
        
            {% endfor %}
        </div>
        
        <div >
        
            {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here..">
            </form>
        
            {% endif %}
        </div>
        
        
    </div>

    <div class="participants">
        <h3>
            Participants
        </h3>
        <hr>
        {% for user in participants %}
            <p>@{{user.username}}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}